USE [master]
GO
/****** Object:  Database [pbl4_mail]    Script Date: 07/11/2023 14:41:20 ******/
CREATE DATABASE [pbl4_mail]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pbl4_mail', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\pbl4_mail.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pbl4_mail_log', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\pbl4_mail_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pbl4_mail].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pbl4_mail]
GO
/****** Object:  User [trungnhan]    Script Date: 07/11/2023 14:41:20 ******/
CREATE USER [trungnhan] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[account]    Script Date: 07/11/2023 14:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nchar](50) NOT NULL,
	[password] [nchar](20) NOT NULL,
	[phone] [nchar](10) NOT NULL,
 CONSTRAINT [PK_account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[email]    Script Date: 07/11/2023 14:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[email](
	[id_mail] [int] IDENTITY(1,1) NOT NULL,
	[sender] [nvarchar](50) NOT NULL,
	[receiver] [nvarchar](50) NOT NULL,
	[subject] [nvarchar](50) NOT NULL,
	[body] [nvarchar](4000) NULL,
	[attachments] [varbinary](max) NULL,
	[send_date] [datetime] NOT NULL,
 CONSTRAINT [PK_email] PRIMARY KEY CLUSTERED 
(
	[id_mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
